/*CSS FILE FOR MY WEBSITE,PROPERTY OF DAVID CHILANZI SENSENTA SIKAILI JILLIAM*/


/*STRUCTURED IN THE DEFAULT STYLE THEN MOBIL BEFORE PC TO ACHIEVE WEB RESPONSIVE*/


/* todo DEFAULT SETTINGS /HTML/BODY/MAIN*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

aside,
span,
article,
section,
main,
footer,
nav {
    display: block;
}

body {
    font-size: 100%;
    text-transform: capitalize;
    font-family: Geneva, verdana, Arial, Didot, cursive, fantasy, Helvetica, monospace, tahoma;
    font-kerning: auto;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    background-color: rgb(255, 255, 255);
    margin: 0em;
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

li,
ul,
dl {
    list-style-type: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

nav ul li {
    text-transform: capitalize;
}

a {
    text-decoration: none;
}


/* TODO mobile styling*/


/*todo find better color palette*/

@media screen and (min-width: 320px) {
    /*body for small screens*/
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", monospace, fantasy, cursive, Verdana, "Gill Sans", sans-serif;
        font-size: large;
        line-height: 1.2em;
        font-stretch: extra-condensed;
        margin: 0;
        background-color: #022534;
        background-image: url("../media/images/Backgrounds/mobilbackground.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        color: #fff;
    }
    /*nav-bar,smallest size*/
    nav {
        background-color: #022534d2;
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        flex: auto;
        margin: 0em;
        padding: .5em;
    }
    nav li {
        padding: 0.1em 0.1em;
        margin: 0px 4px;
    }
    .home {
        margin-right: auto;
        border: 1px solid #32d9cb;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background-color: #a5e65a;
    }
    .home a:link {
        color: #a5e65a;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
        padding: 0.7em 0.2em 0.2em;
    }
    .home a:visited {
        color: #a5e65a;
        padding: 0.7em 0.2em 0.2em;
    }
    .home a:hover {
        padding: 0.7em 0.2em 0.2em;
    }
    .home a:focus {
        padding: 0.7em 0.2em 0.2em;
    }
    .home a:active {
        color: #32d9cb;
    }
    .bar-left a:link {
        color: #fff;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
    }
    .bar-left a:visited {
        color: #fff;
    }
    .bar-left a:hover {
        color: #a5e65a;
    }
    .bar-left a:focus {
        color: #a5e65a;
    }
    .bar-left a:active {
        color: #32d9cb;
    }
    /*header style*/
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
    }
    header h1 {
        text-align: center;
        line-height: 0.9em;
        color: #a5e65a;
        letter-spacing: 0.1em;
        text-shadow: 0.1em 0.2em black;
        margin: 0 2px 20px;
        font-size: 1.5em;
    }
    header p {
        text-align: center;
        color: #fff;
        font-size: larger;
        margin: 0 5px;
        text-shadow: 0.1em 0.1em black;
    }
    .emintro {
        font-style: oblique;
        color: #32d9cb;
        letter-spacing: 0.2rem;
    }
}

#explore {
    position: relative;
    top: 105px;
    font-size: 1.5em;
    padding: 12px;
    border: 1px solid #a5e65a;
    border-radius: 10px;
    letter-spacing: 0.1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#explore a:link,
#explore a:visited,
#explore a:hover,
#explore a:focus,
#explore a:active {
    color: #a5e65a;
}


/*merch*/

#Merch {
    color: #000;
    margin: 1px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-evenly;
}

#Merch h1 {
    text-align: center;
    line-height: 0.9em;
}


/*About*/

#About {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-evenly;
    padding: 5px;
}

#About h1 {
    color: #a5e65a;
    text-align: center;
}

#About p {
    text-align: center;
    font-size: larger;
}

#detaillist dt {
    color: #32d9cb;
    font-size: larger;
}

#detaillist dd {
    font-size: larger;
}


/*footer contacts*/

footer {
    color: #000;
    margin: 1px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-evenly;
}

footer h1 {
    text-align: center;
}

footer p {
    text-align: center;
    font-size: larger;
    margin-top: 0em;
}

footer em {
    color: #32d9cb;
}

#contact {
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

li svg {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    grid-column: 1/2;
}

.contact-text {
    grid-column: 2/3;
}

#contact li {
    font-size: .7em;
}

#contact a:link,
#contact a:visited {
    color: #000;
}


/*backtotop*/

#BTT {
    position: fixed;
    bottom: 30px;
    right: .8em;
    border: 1px solid #a5e65a;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0.2em 0.2em rgb(0, 0, 0);
    background-color: #a5e65a;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/*copyright*/

#copyrights {
    font-size: 0.5em;
    position: relative;
    top: 1em;
    text-align: center;
}


/*todo min-width of laptops and tablets as well as desktops*/


/*links for entire page*/