/*CSS FILE FOR MY WEBSITE,PROPERTY OF DAVID CHILANZI SENSENTA SIKAILI JILLIAM*/


/*STRUCTURED IN THE DEFAULT STYLE THEN MOBIL BEFORE PC TO ACHIEVE WEB RESPONSIVE*/


/*DEFAULT SETTINGS /HTML/BODY/MAIN*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

aside,
span,
article,
section,
main,
footer,
nav {
    display: block;
}

body {
    font-size: 100%;
    text-transform: capitalize;
    font-family: verdana, Arial, Didot, cursive, fantasy, Helvetica, monospace, tahoma, Geneva;
    font-kerning: auto;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(180deg, darkgray, lightgray, white);*/
    background-image: url("../media/images/Backgrounds/main.png");
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-size: cover;
    background-attachment: fixed;
    /*overflow: auto;*/
    margin: 0em;
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

li,
ul,
dl {
    list-style-type: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

nav ul li {
    text-transform: uppercase;
}


/* TODO mobile styling*/

@media screen and (min-width:320px) and (max-width:500px) {
    /*nav-bar,smallest size*/
    nav {
        width: 100vw;
        height: 20%;
        outline: 1px solid;
    }
}