/*CSS FILE FOR MY WEBSITE,PROPERTY OF DAVID CHILANZI SENSENTA SIKAILI JILLIAM*/


/*STRUCTURED IN THE DEFAULT STYLE THEN MOBIL BEFORE PC TO ACHIEVE WEB RESPONSIVE*/


/*DEFAULT SETTINGS /HTML/BODY/MAIN*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

aside,
span,
article,
section,
main,
footer,
nav {
    display: block;
}

body {
    font-size: 100%;
    text-transform: capitalize;
    font-family: Arial, Didot, cursive, fantasy, Helvetica, monospace, tahoma, Geneva;
    font-kerning: auto;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(180deg, darkgray, lightgray, white);*/
    background-image: url("../media/images/Backgrounds/main.png");
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-size: cover;
    background-attachment: fixed;
    /*overflow: auto;*/
    margin-top: 0em;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

li,
ul,
dl {
    list-style-type: none;
}


/*HEADINGS DEFAULTS*/

h1 {
    color: rgb(9, 128, 128);
    font-size: 1.5rem;
    font-weight: 800;
    font-style: oblique;
    font-family: cursive, fantasy, Impact, monospace, Haettenschweiler, 'Arial Narrow Bold', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Tahoma, Geneva, Verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif, serif;
    font-stretch: ultra-expanded;
    letter-spacing: 0.7em;
    word-spacing: 1.5px;
    text-align: center;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

h2 {
    color: rgb(62, 114, 97);
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: ultra-condensed;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.2rem;
}


/*LINKS*/

a {
    text-decoration: none;
}

a:link {
    color: rgb(65, 41, 75);
}

a:visited {
    color: rgb(81, 81, 82);
}

a:focus {
    color: aquamarine;
}

a:hover {
    color: aquamarine;
    text-decoration: dashed;
}

a:active {
    color: crimson;
}


/*MOBILE SETTINGS
/*WIDE/PC SETTINGS*/

header#head {
    background-color: rgba(7, 7, 7, .2);
    background-image: url("../media/images/Backgrounds/arbit2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100.5vh;
    padding: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0em;
    flex: auto;
    /*overflow: auto;*/
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}


/*nav-list*/

div#Nav-bar {
    background-color: rgba(7, 7, 7, .8);
    overflow: auto;
    padding: .01em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 97.5vw;
    position: fixed;
    z-index: 100;
}


/* Style the links inside the navigation bar */

ul#buttons li {
    color: #ffffff;
    padding: 6px 7px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

li.bar-left {
    float: right;
    width: fit-content;
}

#home {
    background-color: rgb(140, 245, 236);
    background-clip: padding-box;
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

li a#home:hover {
    background-color: rgb(10, 10, 10);
    color: aquamarine;
    text-decoration: none;
    border-style: solid;
    border-color: rgba(120, 202, 182, 0.89);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: thin;
    padding: 10px 10px;
}

li a#home:focus {
    color: crimson;
}

li a#home:active {
    color: crimson;
}

li a.bar:link {
    color: rgba(223, 203, 218, 0.89);
}

li a.bar:visited {
    color: rgb(123, 147, 167);
}

li a.bar:hover {
    color: aquamarine;
    text-decoration: none;
    border-style: solid;
    border-color: rgba(120, 202, 182, 0.89);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-width: thin;
    padding: 10px 10px;
}

li a.bar:focus {
    color: crimson;
}

li a.bar:active {
    color: crimson;
}


/*back to top css*/

#BTT {
    position: fixed;
    bottom: 15.5%;
    right: 5.5%;
    background-color: rgba(117, 232, 236, 0.89);
    padding: 3.5px;
    border: 0.1em groove black;
    box-shadow: 6px 6px 5px black;
    border-top-left-radius: 10px;
    font-family: Impact, Tahoma, Verdana;
    font-style: oblique;
    font-stretch: extra-expanded;
    letter-spacing: .2em;
    z-index: 80;
}

p a#BTT:link {
    color: black;
}

p a#BTT:visited {
    color: black;
}

p a#BTT:hover {
    color: rgb(100, 237, 247);
    padding: 3.5px;
    border: 0.1em groove rgb(88, 233, 233);
    border-top-left-radius: 10px;
    background-color: black;
}

p a#BTT:focus {
    color: crimson;
}

p a#BTT:active {
    color: crimson;
}


/*lists styling*/


/*INDEX HTML STYLE*/


/*landing view*/

.emintro {
    font-style: italic;
    font-weight: 700;
    font-stretch: extra-expanded;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
}

h1.heading+p {
    text-align: center;
    color: rgb(199, 199, 199);
}

h1.heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    text-shadow: .1em .1em rgb(0, 0, 0);
    color: azure;
}


/*sample products*/

div#Merch {
    position: relative;
    width: 100vw;
    /* height: 78.5vh;*/
    background-color: rgba(255, 255, 255, 0.301);
    background-image: url("../media/images/Backgrounds/productssample.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-top: 0em;
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*nested flex*/

div#fourproducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 250px;
    flex: auto;
}


/*#Merch::after {
    this is for fixing float when it hangs outside the margin of its parent element
    content: "  ";
    display: block;
    clear: both;
    border: .01 groove green;
}*/

#Merch p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-stretch: ultra-expanded;
    font-style: italic;
}

#hardware {
    /*float: left;
    */
    /*position: absolute;
    left: .4em;
    top: 2.5em;*/
    margin: em;
    padding: 50px 20px 300px;
    outline: thin dotted black;
    /*    box-shadow: 6px 6px 5px black;*/
    border-radius: 5.5px;
    -webkit-border-radius: 5.5px;
    -moz-border-radius: 5.5px;
    -ms-border-radius: 5.5px;
    -o-border-radius: 5.5px;
    z-index: 40;
}

#customs {
    /* position: absolute;
    left: 23.5em;
    top: 2.5em;*/
    /*float: left;
    */
    margin: .5em;
    padding: 50px 20px 300px;
    outline: thin dotted black;
    /*  box-shadow: 6px 6px 5px black;*/
    border-radius: 5.5px;
    -webkit-border-radius: 5.5px;
    -moz-border-radius: 5.5px;
    -ms-border-radius: 5.5px;
    -o-border-radius: 5.5px;
    z-index: 70;
}

#software {
    /*float: left;
    */
    /* position: absolute;
    right: 15.5em;
    top: 2em;
    left: 30.8em;*/
    margin: .5em;
    padding: 50px 20px 300px;
    /* box-shadow: 6px 6px 5px black;*/
    outline: thin dotted black;
    border-radius: 5.5px;
    -webkit-border-radius: 5.5px;
    -moz-border-radius: 5.5px;
    -ms-border-radius: 5.5px;
    -o-border-radius: 5.5px;
    z-index: 60;
}

#web {
    /*float: left;
    */
    /* position: absolute;
    right: .2em;
    top: 2.5em;*/
    margin: .5em;
    padding: 50px 20px 300px;
    outline: thin dotted black;
    /* box-shadow: 6px 6px 5px black;*/
    border-radius: 5.5px;
    -webkit-border-radius: 5.5px;
    -moz-border-radius: 5.5px;
    -ms-border-radius: 5.5px;
    -o-border-radius: 5.5px;
    z-index: 50;
}


/*about*/

div#About {
    padding: 3em;
    background-color: rgba(7, 7, 7, 0.349);
    background-image: url("../media/images/Backgrounds/about.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    /*height: 90vh;*/
    width: 100vw;
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.heading_two+p {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    color: aquamarine;
}

#detaillist dt {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: 1.5em;
    font-stretch: ultra-expanded;
    letter-spacing: 1.2rem;
    color: rgb(230, 122, 144);
}

#detaillist dd {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    text-align: justify;
}


/*contacts*/

footer {
    width: 100vw;
    /* height: 60.5vh;*/
    padding-left: 1.9em;
    padding-right: 1.9em;
    padding-top: 3em;
    background-color: rgba(255, 255, 255, 0.233);
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

svg {
    max-width: 32px;
    max-height: 32px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

footer p {
    text-align: center;
}

#contactsinfo h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

p#quote {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

em.emfooter {
    color: rgb(219, 69, 69);
    font-style: oblique;
    letter-spacing: .6em;
    word-spacing: .6em;
}

p#copyrights {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: x-small;
    position: relative;
    top: 1.5em;
}


/*PRODUCT HTML STYLE*/


/*GAMING HTML STYLE*/


/*LINUX HTML STYLE*/