/*CSS FILE FOR MY WEBSITE,PROPERTY OF DAVID CHILANZI SENSENTA SIKAILI JILLIAM*/


/*STRUCTURED IN THE DEFAULT STYLE THEN MOBIL BEFORE PC TO ACHIEVE WEB RESPONSIVE*/


/* todo DEFAULT SETTINGS /HTML/BODY/MAIN*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

aside,
span,
article,
section,
main,
footer,
nav {
    display: block;
}

body {
    font-size: 100%;
    text-transform: capitalize;
    font-family: verdana, Arial, Didot, cursive, fantasy, Helvetica, monospace, tahoma, Geneva;
    font-kerning: auto;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(180deg, darkgray, lightgray, white);*/
    background-image: url("../media/images/Backgrounds/main.png");
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-size: cover;
    background-attachment: fixed;
    /*overflow: auto;*/
    margin: 0em;
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

li,
ul,
dl {
    list-style-type: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

nav ul li {
    text-transform: capitalize;
}

a {
    text-decoration: none;
}


/* TODO mobile styling*/


/*todo remove border on .bar-left  mobil does not need that effect transfer to pc style*/

@media screen and (min-width: 320px) {
    /*nav-bar,smallest size*/
    nav {
        background-color: rgba(1, 3, 14, 0.953);
        width: 100vw;
        height: 80px;
        outline: 1px solid;
        position: fixed;
        top: 0;
        margin-bottom: 0;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        flex: auto;
        margin: 1em;
    }
    nav li {
        padding: .3em;
    }
    .home {
        margin-right: auto;
        text-transform: uppercase;
    }
    .home a:link {
        color: azure;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
        padding: .6em;
        border: .1px solid azure;
        border-radius: 10px;
        background-color: orangered;
        -webkit-border-radius: ;
        -moz-border-radius: ;
        -ms-border-radius: ;
        -o-border-radius: ;
    }
    .home a:visited {
        color: azure;
        padding: .6em;
        border: .1px solid azure;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .home a:hover {
        color: orangered;
        border: .1px solid orangered;
        padding: .6em;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background-color: rgba(1, 3, 14, 0.953);
    }
    .home a:focus {
        color: orangered;
        border: .1px solid orangered;
        padding: .6em;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background-color: rgba(1, 3, 14, 0.953);
    }
    .bar-left a:link {
        color: azure;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
    }
    .bar-left a:visited {
        color: azure;
    }
    .bar-left a:hover {
        color: orangered;
        border: .1px solid orangered;
        padding: .7em;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .bar-left a:focus {
        color: orangered;
        border: .1px solid orangered;
        padding: .7em;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    /*body for small screens*/
    body {
        font-family: monospace, fantasy, cursive, Verdana, "Gill Sans", sans-serif;
        font-size: large;
        line-height: 1.2em;
        font-stretch: extra-condensed;
        margin: 0;
    }
    /*header style*/
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 90vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        background-color: rgba(0, 0, 0, 0.953);
        background: url("../media/images/Backgrounds/mobilbackground.png") no-repeat center center;
        background-size: cover;
    }
    header h1 {
        text-align: center;
        line-height: 0.9em;
        color: rgb(81, 151, 255);
        letter-spacing: .1em;
        text-shadow: .1em .2em black;
        margin: 0 2px 20px;
    }
    header p {
        text-align: center;
        color: rgb(180, 195, 226);
        font-size: larger;
        margin: 0 5px;
        text-shadow: .1em .1em black;
    }
    .emintro {
        font-style: oblique;
        color: orangered;
        letter-spacing: .2rem;
    }
}


/*todo min-width of laptops and tablets as well as desktops*/


/*links for entire page*/